$font-stack: "Poppins", sans-serif;

.intro-head-friendsarea {
  color: white;
  font-family: $font-stack;
  font-weight: 200;
}

.intro-friendsarea {
  display: flex;
  background-color: transparent;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
