@charset "UTF-8";
.date-today {
  margin-top: 150px;
  margin-left: 5%;
  font-size: 1cm;
}

.past-entry-overview {
  height: 40%;
  width: 35%;
  background-color: rgb(182, 10, 10);
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5% 15%;
}

/* Wrapper Line-Breaker + Listenwrapper */
.wrapper-history {
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Container Listenelemente + Monat */
.overview-days {
  align-items: center;
}

.days-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10%;
  width: 80%;
}

/* Container der Listenelemente */
.overview-list {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
}

.div-arrow {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 60px;
  min-width: 150px;
  height: 60px;
  width: 150px;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 15px;
  padding: 7px;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.left-arrow,
.right-arrow {
  background: transparent;
  border: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Tages-Listenelemente */
.days-list {
  display: flex;
  background-color: transparent;
  min-height: 60px;
  min-width: 150px;
  height: 60px;
  width: 150px;
  border-width: 1px;
  border-radius: 7px;
  border-color: rgb(78, 77, 77);
  border-style: solid;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  font-size: medium;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.days-list:hover {
  background-color: rgb(10, 10, 10);
  transform: scale(1.05);
}

/* Aktueller Monat-Textelement */
.current-month {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-left: 13%;
  margin-bottom: 20px;
  font-size: medium;
}

/* Line-Breaker */
hr {
  display: block;
  align-items: center;
  justify-content: center;
  height: 1px;
  border-style: solid;
  border: 1px solid rgb(107, 107, 107);
  margin: 100px 30px 20px;
  padding: 0;
}

.line-daily-navbar-below {
  margin-top: 20px;
}

/* Hauptseite history unter der History-Navbar */
.flexcontainer-history {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  margin: 100px 10%;
}

/* Letzter Eintrag -> wird links auf dem Display gezeigt */
/* Monatsübersicht */
/* random Memories */
.months-container,
.memories-container,
.lastentry-container {
  padding: 20px;
  width: 30%;
  height: 350px;
  /* height: 40%; */
  text-align: center;
  background-color: rgb(9, 8, 8);
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  transition: transform 0.5s ease;
}

.memories-container {
  background-image: url(memories.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.months-container {
  background-image: url(books.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.lastentry-container {
  background-image: url(iceberg.jpg);
  background-size: cover;
  background-position: 50% 20%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.flexcontainer-history > *:hover {
  transform: scale(1.03);
}

.months-text,
.months-head,
.lastentry-head,
.lastentry-text,
.memories-text,
.memories-head {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 1100px) {
  .flexcontainer-history {
    display: block;
    justify-content: center;
    margin: 50px auto;
    width: 70%;
  }
  .lastentry-container,
.months-container,
.memories-container {
    width: auto;
    height: 20%;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
  }
  .days-scroll {
    margin: auto;
    width: 100%;
  }
}/*# sourceMappingURL=history.css.map */