* {
  font-family: "Poppins", sans-serif;
}

.grid-container {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-align: center;
  margin: auto;
  width: auto;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 600px;
  border-radius: 5px;
  justify-content: center;
  background-color: rgba(28, 28, 28, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  place-items: center;
}

.background-picture {
  width: 100%;
  height: 100vh;
  background-image: url(think.jpg);
  background-size: cover;
  background-position: 300px;
  background-attachment: fixed;
}

.background-picture.active {
  background-image: url(thinker.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 90%;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .grid-container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
label {
  font-size: x-large;
}

input {
  width: 20%;
  background-color: transparent;
  color: rgb(224, 222, 222);
  padding: inherit;
}

::-webkit-scrollbar {
  background-color: rgb(70, 67, 67);
  width: 12px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(18, 122, 170);
  border: 3px solid rgb(18, 122, 170);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

label,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

#thought textarea {
  overflow-y: scroll;
  color: #fff;
}

.box {
  width: 80%;
  position: relative;
  padding: 20px;
  text-align: left;
  margin: 40px auto 20px;
}

.box input,
textarea {
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(18, 122, 170);
}

.thought-head {
  margin: 120px 8% 60px;
  color: white;
  text-align: center;
  font-size: 1cm;
}

#submit-thought,
#reset-form {
  position: relative;
  align-items: center;
  text-decoration: none;
  height: 50px;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-bottom: 50px;
  background: rgb(18, 122, 170);
  color: #fff;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

#buttons-reset-submit {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-around;
}

label {
  font-size: large;
}

@media screen and (max-width: 900px) {
  textarea {
    padding-top: 20px;
  }
  .grid-container {
    width: auto;
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  #reset-form,
#submit-thought {
    margin: 10px auto;
    width: 80%;
  }
  #submit-thought {
    margin-bottom: 50px;
  }
  .grid-container {
    width: 100%;
    margin: auto;
    background-color: transparent;
  }
}
.thought-summary-header {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 20px 0;
}

.thought-summary-container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

#thoughts {
  display: grid;
  border-style: none;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: auto;
       column-gap: auto;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding: 0 10px 0;
}

#thoughts .thought {
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#thoughts > .thought:first-child {
  display: none;
}

.content {
  display: flex;
  border: solid;
  text-align: center;
  color: #fff;
  min-height: 55px;
  padding: 15px;
}

.text {
  width: auto;
  text-align: center;
  border: none;
  align-items: center;
  color: #fff;
}

.actions {
  border-style: none;
}

.edit {
  color: aqua;
}

.delete {
  color: rgb(162, 1, 162);
}

.edit,
.delete {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}/*# sourceMappingURL=thought.css.map */