<!DOCTYPE html>
<html lang="de">
  <%- include("../includes/header", { title: "Thoughts | Login"}) %>
  <body>
    <div class="background-pic">
      <%- include("../includes/navbar") %>
      <div class="screen-signup-login">
        <div class="signup-wrapper">
          <h2 class="signup-headline">Bei Thoughts registrieren</h2>
          <form id="signup-form" action="/signup" method="post">
          <div class="mail">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="E-Mail-Adresse"
            />
          </div>
          <div class="username">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Username"
            />
          </div>
          </div>
          <!-- <div class="konto-button">
            <input
              type="button"
              id="konto-button"
              name="konto-button"
              value="Konto erstellen"
            />
          </div> -->
        </div>
        <div class="login-wrapper">
          <div class="login-question">
            <h2>Du hast bereits ein Konto?</h2>
          </div>
          <div class="login-first">
            <input
              type="text"
              id="login-first"
              name="login-first"
              placeholder="E-Mail-Adresse oder Telefonnummer"
            />
          </div>
          <div class="password">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <!-- <div class="forgot-password">
            <input
              type="button"
              id="forgot-password"
              name="forgot-password"
              value="Passwort vergessen?"
            />
          </div>
          <div class="login-button">
            <input
              type="button"
              id="login-button"
              name="login-button"
              value="Einloggen"
            />
          </div> -->
          <button type="submit">Save</button>
        </form>
        </div>
      </div>
    </div>
    <%- include("../includes/script") %>
  </body>
  <footer></footer>
</html>
