<!DOCTYPE html>
<html lang="de">
  <%- include("../includes/header", { title: "Thoughts | Login"}) %>
  <body>
    <div class="background-pic">
      <%- include("../includes/navbar") %>
      <div class="screen-signup-login">
        <div class="signup-wrapper">
          <h2 class="signup-headline">Bei Thoughts registrieren</h2>
          <div class="mail">
            <!-- <label for="mail-input">E-Mail-Adresse:</label> -->
            <input
              type="email"
              id="email"
              name="email"
              placeholder="E-Mail-Adresse"
            />
          </div>
          <!-- <div class="phone">
            <label for="phone">Phone:</label>
            <input type="phone" id="phone" name="phone" />
          </div> -->

          <div class="password">
            <!-- <label for="password">Password:</label> -->
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Passwort erstellen"
            />
          </div>
          <div class="password">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Repeat Password"
            />
          </div>
          <div class="konto-button">
            <input
              type="button"
              id="konto-button"
              name="konto-button"
              value="Konto erstellen"
            />
          </div>
        </div>
        <div class="login-wrapper">
          <div class="login-question">
            <h2>Du hast bereits ein Konto?</h2>
          </div>
          <div class="login-first">
            <input
              type="text"
              id="login-first"
              name="login-first"
              placeholder="E-Mail-Adresse oder Telefonnummer"
            />
          </div>
          <div class="password">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <div class="forgot-password">
            <input
              type="button"
              id="forgot-password"
              name="forgot-password"
              value="Passwort vergessen?"
            />
          </div>
          <div class="login-button">
            <input
              type="button"
              id="login-button"
              name="login-button"
              value="Einloggen"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="../src/script.js"></script>
  </body>
  <footer></footer>
</html>
